<ul class="latestEpisodes">
  <li *ngFor="let episode of latestEpisodes">
    <img width="64" height="64" src="{{episode.thumbnail}}" alt="{{episode.title}}" style="object-fit: cover;">

    <div class="episodeDetails">
      <a [routerLink]="['/episode/', episode.id]">{{episode.title}}</a>
      <p>{{episode.members}}</p>
      <span>{{episode.publishedAt}}</span>
      <span>{{episode.durationAsString}}</span>
    </div>

    <button type="button" (click)="emitterEpisode(episode)">
      <img src="assets/img/play-green.svg" alt="Tocar episódio"/>
    </button>
  </li>
</ul>